// Colors

$color-white: #ffffff;
$color-black: #000000;
$color-secondary: #F5F5F5;
$color-accent: #DB4444;
$color-accent-darker: rgb(202, 37, 37);
$color-green: rgba(0, 255, 102, 1);
$color-green-darker: rgb(0, 207, 83);

// Typography

$ff-poppins: "Poppins", "Arial", sans-serif;
$ff-inter: "Inter", "Arial", sans-serif;

// Viewport

$vp-tablet: 1023px;
$vp-mobile: 767px;

/* Transition */
$default-transition: 0.3s ease-in-out;