.arrows {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0 0 10px 0;

  &__btn {
    padding: 11px;
    background-color: $color-secondary;
    border-radius: 50%;
    width: 46px;
    height: 46px;
  }
}