.btn {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  &--primary,
  &--secondary,
  &--stroke {
    padding: 16px 48px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    border-radius: 4px;
    transition: background-color $default-transition;
  }

  &--primary {
    background-color: $color-accent;
    color: $color-white;

    &:hover {
      background-color: $color-accent-darker;
    }
  }

  &--secondary {
    color: $color-white;
    background-color: $color-green;

    &:hover {
      background-color: $color-green-darker ;
    }
  }

  &--stroke {
    border: 1px solid #00000080;
    background-color: transparent;
    color: $color-black;
    transition: background-color $default-transition, color $default-transition;

    &:hover {
      background-color: #00000080;
      color: $color-white;
    }
  }
}