.dashboard {

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px 0;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 200px 870px;
    gap: 100px;
  }

  &__container {
    display: grid;
    grid-template-columns: 200px 870px;
    gap: 100px;
    justify-content: space-between;
  }
}