.hero-aside {
  padding: 40px 16px 0 0;
  border-right: 0.5px solid rgba(0, 0, 0, 1);

  @media (max-width: 1024px) {
    display: none;
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}