.menu-icon {
  width: 20px;
  height: 14px;
  cursor: pointer;
  position: relative;
  z-index: 10001;

  & span {
    background-color: black;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0;
    transition: all 0.3s ease;
    border-radius: 10px;

    &:first-child {
      top: 0;
    }

    &:nth-child(2) {
      top: 6px;
    }

    &:last-child {
      top: 12px;
    }
  }

  &--active {
    & span:nth-child(2) {
      opacity: 0;
    }

    & span:first-child,
    & span:last-child {
      top: 6px;
      background-color: $color-white;
    }

    & span:first-child {
      transform: rotate(45deg);
    }

    & span:last-child {
      transform: rotate(-45deg);
    }
  }
}