.today-top {

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;

    margin: 0 0 60px 0;
  }

}